<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información acerca de cómo configurar una aplicación ASP.NET, consulte 
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="TokenLifetime" value="15" />
    <add key="yocomprorecarga_master_token" value="57008" />
    <add key="CoinsByTopupSuccess" value="1" />
    <add key="YVR_MassivePushTestMode" value="true" />
    <add key="YVR_SingleUserPushTestMode" value="true" />
    <add key="Engagement_SingleUserTest" value="geovannijosher@outlook.com" />
    <add key="OneSignal_SingleUserTest" value="ro.bazan10@gmail.com" />
    <add key="OneSignal_SingleUserTest_Android" value="jchavez@globalpay.us" />
    <add key="SilentSigninMode" value="true" />
    <add key="IpLocationUrl" value="http://freegeoip.net/json/" />
    <add key="SocketTimeout" value="65000" />
    <add key="SmsValidationCode" value="RecarGO! - Tu codigo de verificacion es: " />
    <!--  YoVendoSaldo BD (Desarrollo) -->
    <add key="YoVendoSaldoBD" value="Data Source=qpgzymrzqd.database.windows.net;Initial Catalog=YoVendoSaldoTest;User ID=gats-admin; Password=gpspro@2015*;" />
    <!--  YoVendoSaldo BD (Producción) -->
    <!--<add key="YoVendoSaldoBD" value="Data Source=n90zd9j86k.database.secure.windows.net; Initial Catalog=YoVendoSaldo; User=gats-admin; Password=globalpay*12" />-->
    <!-- GATS URL-->
    <add key="TopupUrl" value="http://csncusgats1.northcentralus.cloudapp.azure.com:8070/api/topup/" />
    <!--Rango de monedas por tipo de cofres-->
    <!--cofre Bronce - Rango de monedas 1 - 5-->
    <add key="1" value="1,5" />
    <!--cofre Plata - Rango de monedas 6 - 10-->
    <add key="2" value="5,9" />
    <!--cofre Oro - Rango de monedas 6 - 20-->
    <add key="3" value="6,15" />
    <!--Limite de monedas para cambiar premio: 20-->
    <add key="limitCoins" value="20" />
    <!--Time To Change Prize - RecarGO-->
    <add key="TimeToChangePrize" value="23" />
    <add key="timerLeaderBoards" value="20" />
    <!--Random to get souvenir - RecarGO-->
    <add key="RandomSouvenir" value="1,51" />
    <!--Random to get Coins or Souvenir - RecarGO-->
    <add key="RandomCoinOrSouvenir" value="1,21" />
    <!--Random to WildCard - RecarGO-->
    <add key="RandomWildCard" value="1,101" />
    <!--CoinsWildCard - RecarGO-->
    <add key="CoinsWildCard" value="75,150" />
    <!--Random Barrel 1 - RecarGO-->
    <add key="RandomBarrel1" value="1,10" />
    <!--Random Barrel 2 - RecarGO-->
    <add key="RandomBarrel2" value="1,50" />
    <!--Send SMS SVC Claro-->
    <add key="keynotificame" value="kHefw9ISJDOXlPqElzCpWMqo1OocbQe3" />
    <add key="secretnotificame" value="VaPpozyAgnQQIbVx0ohTBequbWU0Hhqz" />
    <add key="proveedorsms" value="televida" />
    <add key="urltelevida" value="https://smsapi.televida.biz:25031/api-sms-rest/sendsms?key=2939204928042fb3604dkfja2292sld20sdk30sdkf" />
    <add key="keynotificame" value="kHefw9ISJDOXlPqElzCpWMqo1OocbQe3" />
    <add key="keytelevida" value="2939204928042fb3604dkfja2292sld20sdk30sdkf" />
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>